.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    min-width: 800px;
    max-width: 865px;
    margin: 0 auto;
}
.plans-container--slider {
    display: flex;
    justify-content: center;
}